footer.footer
    // .을 통해서 class 지정이 가능하다 >> footer태그에 footer클래스를 부여
    .footer__icon
        i.fab.fa-youtube
            // 여러개의 class를 입력할 때도 .으로 구분을 한다
    span.footer__text &copy; #{new Date().getFullYear()} #{siteName}
        // &copy는 뭔가 특수문자 비슷한거 생성됨
        // #{}를 통해서 javascript를 사용할 수 있다

