extends ./layouts/main.pug

block content
    p home
        // <p>Home</P> 와 같은 기능을 한다

        // 레이아웃을 불러 왔으므로 위에 덮어쓰기가 가능해진다


        // 파일의 확장자 명이 pug로 설정되어야 한다
        // 자동으로 HTML로 바꿔준다
        // pug를 사용하면 javascript의 위력을 사용할 수 있다고 한다
        // 주석도 tab을 잘 사용해야한다
