@import "reset.css";

/* reset.css는 resetcss라는 검색어를 통해 들어간 사이트에서 참고함 */

body {
    background-color: #f6f9fc;
    display: flex;
    /* flex에 대해서 알아야 할것 같음 */
    flex-direction: column;
    /* flex에 대한 규칙을 설정한다 */
    align-items: center;
    /* 내부 태그들의 위치가 가운데로 가게 한다 */
    padding-top: 50px;
    /* body의 padding을 준다 */
    padding: 50px 0px;
}

.canvas {
    width: 500px;
    height: 500px;
    /* 높이, 넓이를 지정 한다 */
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls__colors .controls__color {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    cursor: pointer;
    /* 마우스 포인터를 올리게 되면 커서를 띄우게 된다 */
}

.controls .controls__colors {
    display: flex;
    /* 위치를 부모 태그에 설정된 flex 기능으로 구성 */
}

.controls {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    /* controls 밑에 있는 자식들에 대한 위치 설정 */
    align-items: center;
}

.controls .controls__btns {
    margin-bottom: 30px;
}

.controls__btns button {
    all: unset;
    /* 기본적으로 제공되는 스타일을 모두 제거한다 */
    cursor: pointer;
    /* 버튼에 마우스를 올리면 커서가 발동된다 */
    background-color: white;
    padding: 5px 0px;
    width: 80px;
    text-align: center;
    /* 글자가 중앙정렬된다 */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    /* 폰트가 조금 위로 올라오게 된다 */
    font-weight: 600;
    /* 폰트 굵기 */
    font-size: 12px;
    /* 폰트 사이즈 */
}

.controls__btns button:active {
    /* button이 동작하면 밑의 기능이 작동하게 된다 */
    transform: scale(0.98);
}

.controls .controls__range {
    margin-bottom: 20px;
}